@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-text-color: rgb(var(--foreground-rgb));
  --secondary-text-color: rgb(75, 85, 99); /* Adjust this to a suitable dark gray */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --primary-text-color: rgb(var(--foreground-rgb));
    --secondary-text-color: rgb(156, 163, 175); /* Adjust this to a suitable light gray */
  }
}

body {
  color: var(--primary-text-color);
  min-height: 100vh;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.helvetica {
  font-family: Helvetica, Arial, sans-serif;
}

/* Default text styles for common elements */
h1, h2, h3, h4, h5, h6, p, a, span, li, button {
  color: var(--primary-text-color);
}

/* Use secondary text color for lighter text */
.text-secondary {
  color: var(--secondary-text-color);
}
